<h1 style= "text-align: center">View All Late Plates</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Late Plate Number </th>
      <th scope="col">Current Status </th>
      <th scope="col">Last Checked Out On</th>
      <th scope="col">Last Checked Out By</th>
      <th scope="col">Last Checked In On</th>
      <th scope="col">Last Checked In By</th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
      <tr>
        <td> <a href="/lateplate/{{this.id}}">{{this.number}}</a> </td>
        <td>{{this.status}}</td>
        <td>{{this.lenders.0.formattedDate}}</td>
        <td>{{this.lenders.0.name}}</td>
        <td>{{this.returners.0.formattedDate}}</td>
        <td>{{this.returners.0.name}}</td>
      </tr>
    {{/each}}
 </tbody>
</table>
