<a href="/">< View All Late Plates</a>
<h1> Late Plate Number {{lateplate.number}} </h1>
<h3> Current Status: {{lateplate.status}} </h3>
<li> Last Checked Out By: {{lateplate.lenders.0.name}} </li>
<li> Last Returned By: {{lateplate.returners.0.name}} </li>


<h3> Previosuly Checked Out By: </h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"> Name </th>
      <th scope="col"> Date Checked Out </th>
    </tr>
  </thead>
  <tbody>
    {{#each lateplate.lenders}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.formattedDate}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<h3> Previosuly Returned By: </h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"> Name </th>
      <th scope="col"> Date Checked In </th>
    </tr>
  </thead>
  <tbody>
    {{#each lateplate.returners}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.formattedDate}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
